doctype html
html
	head
		title #{recipe.name}
		link(rel="stylesheet", type="text/css", href="/css/reset.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Merriweather")
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Montserrat")
		link(rel="stylesheet", type="text/css", href="/css/recipe.css")
	body
		include includes/header
		#content
			a(href="/recipe/#{recipe.slug}/edit")
				span#edit Edit
			h1 #{recipe.name}
			if recipe.source
				if recipe.url
					h2
						a(href=recipe.url)
							|#{recipe.source}
				else 
					h2 #{recipe.source}
			br
			table
				tr
					td(colspan="4")
						hr
				tr
					if recipe.time.prep
						th prep time
					if recipe.time.cook
						th cook time
					if recipe.time.prep && recipe.time.cook
						th ready in
					if recipe.serves
						th serves
				tr
					if recipe.time.prep
						td #{recipe.time.prep}
							span.min min.
					if recipe.time.cook
						td #{recipe.time.cook}
							span.min min.
					if recipe.time.prep && recipe.time.cook
						td #{recipe.time.total}
							span.min min.
					if recipe.serves
						td.serves #{recipe.serves}
				tr
					td(colspan="4")
						hr
			br
			span#tags-label Tags
			#tags
				if !recipe.tags.length
					span.tag None
				each tag in recipe.tags
					span.tag #{tag}
			br
			br
			if recipe.ingredients
				h3 Ingredients
				ul
					each ingredient in recipe.ingredients
						li
							span #{ingredient}
				br
			h3 Directions
			ol
				each step in recipe.directions
					li
						span #{step}